/* body { 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/
/* .myclass{ 
  border: 2px solid black;
  background-color: lightblue;
}
.myclass2{
  border: 3px solid darkblue;
  background-color: rgb(142, 182, 118);
/* } */

/* .books{
  border: 2px solid black;
  background-color: aquamarine;
}
.BookList {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.book{
  background-color: bisque;
  border-radius: 15px;
  
} */
.booklist2{
  display: flex;
  gap: 30px;
}
.book2{
  background-color: rgb(147, 216, 217);
  border-radius: 10px;
}
.mg{
  margin-left: 10px;
}